#parent {
    position: relative;
    border: 3px solid blue;
    height: 300px;
    padding: 0;
}

p {
    position: absolute;
    border: 2px solid;
    margin: 0;
    padding: 25px;
}

p:nth-child(1) {
    border-color: green;
    top: 0;
    left: 0;
}

p:nth-child(2) {
    border-color: red;
    top: 0;
    right: 0;
}

p:nth-child(3) {
    border-color: yellow;
    bottom: 0;
    left: 0;
}

p:nth-child(4) {
    border-color: pink;
    bottom: 0;
    right: 0;
}

.centre {
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}